.inputFields {
    display: flex;
    width: 800px;
    margin: 20px auto;
    position: relative;

}
.inputText{
    width: 100%;
    height: 40px;
    outline: none;
    padding: 5px;
    font-size: 1rem;
    border-right: none;    
    border-radius: 0 10px 10px 0;
}

.inputFields button{
    position: absolute;
    right: 0;
    width: 120px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    height: 100%;
}
.inputFields select {
    border-radius: 10px 0 0 10px;
    width: 100px;
    text-align: center;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
}

.inputFields .inputText, .inputFields button, .inputFields select{
    border: 1px solid rgb(135, 135, 134);

}
.inputFields select option{
    font-size: 1.2rem;
    padding: 15px;
    background-color: white;
}
.inputFields select option > * {
    padding: 15px;
}
.tasksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasksContainer > *{
    width: 30%;
    height: 70vh;
    overflow-y: scroll;
    background-color: aliceblue;
    box-shadow: 5px 5px 15px rgb(222, 222, 222) ;
}

.tasksContainer .heading{
    position: sticky;
    top: 0;
    padding: 5px 0;
    background-color: rgb(39, 41, 37);
    color: white;
}
.tasksContainer .individualTasks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    border-radius: 5px;
    transition: 0.2s ease;
}

.tasksContainer .individualTasks:hover{
    box-shadow: 5px 15px 50px 5px rgb(147, 178, 255);

}
.tasksContainer .individualTasks .icon {
font-size: 1.8rem;
padding: 15px;
cursor: pointer;
transition: 0.2s ease;

}

.tasksContainer .individualTasks .icon:hover {
    color: rgb(241, 255, 190);
    margin-left: 5px;
}

.tasksContainer .individualTasks .icon.rightIcon:hover {
    color: rgb(241, 255, 190);
    margin-right: 5px;
}
.task {
    background-color: rgba(4, 179, 4, 0.655);
    box-shadow: 5px 15px 20px 5px rgb(226, 234, 255);
}
.story{

    background-color: rgba(110, 110, 255, 0.664);
    color: white;

}
.bug{
    background-color: rgba(255, 78, 78, 0.662);
}