.inputFields {
    display: flex;
    width: 500px;
    margin: 20px auto;
    position: relative;

}
.inputText{
    width: 100%;
    height: 30px;
    border: 1px solid black;
    padding: 5px;
    font-size: 1rem;
    border-right: none;
    border-radius: 10px;
    
}

.inputFields button{
    position: absolute;
    right: 0;
    width: 120px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    height: 100%;
}
.tasksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasksContainer > *{
    width: 30%;
    height: 70vh;
    overflow: scroll;
    background-color: aliceblue;
    border: 1px solid rgb(73, 0, 73);
}

.tasksContainer .heading{
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
}
.tasksContainer .individualTasks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.tasksContainer .individualTasks .icon {
font-size: 1.8rem;
padding: 15px;

}

.tasksContainer .individualTasks .icon :hover {
    cursor: pointer;
    color: blue;
}